.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logomotto {
    display: flex;
    align-items: center;
    color: lightgray;
}

.logomotto span{
    display: block;
}

.list {
    display: flex;
    margin: 0 auto;
}

.list ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.list li a{
    margin-left: 20px;
    color: lightgray;
    text-decoration: none;
}